ul{
    list-style-type: none;
    margin: 3;
}


p{
    margin: 0;
    text-align: center;
    font-size: large;
}

li{
    text-align: center;
    margin: 6px;
}


a{  
    background-color: rgb(175, 91, 91);
    color : aqua;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
