#container {
    display: flex;
}












#navnav a{
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(19, 228, 124);
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

ul {
    list-style: none;
}

li{
    }